<div style="height: 3.5in;">
    <div class="row" style="margin: 0px; padding: 0px; background-color: limegreen;">
        <div class="col-3" style="padding-top: 1rem;  background-color: red;">
                <div class="row">
                    <img src="../../../assets/dbbl_logo.png" style="height: 1.6rem; width: 3rem;">
                    <h6 style="padding-left: .5rem; padding-top: 3px;">
                        Dutch-Bangla Bank Limited
                    </h6>
                </div>
                <div class="row">
                    <table class="table">
                        <tr>
                            <td style="border-top: none; padding-bottom: 0px;">Date</td>
                            <td class="col-11" style="border-top: none;">12.09.2021</td>
                        </tr>
                        <tr>
                            <td style="border-top: none; padding-bottom: 0px;">To</td>
                            <td class="col-11" style="border-top: none;">GGGGGG</td>
                        </tr>
                        <tr>
                            <td style="border-top: none; padding-bottom: 0px;">For</td>
                            <td class="col-11" style="border-top: none;">Buy Laptop</td>
                        </tr>
                    </table>
                </div>
                <div class="row" style="margin-top:0px;">
                    <table class="table" style="white-space: nowrap;">
                        <tbody>
                            <tr>
                                <td scope="col" class="col-2" style="border-top: none;"></td>
                                <td scope="col" style="border-top: none;">Taka</td>
                                <td scope="col" style="border-top: none;">Ps</td>
                            </tr>
                            <tr>
                                <td style="border-top: none;">Balance B/F</td>
                                <td style="border-top: none;"></td>
                                <td style="border-top: none;"></td>
                            </tr>
                            <tr>
                                <td style="border-top: none;">Amt Deposited</td>
                                <td style="border-top: none;"></td>
                                <td style="border-top: none;"></td>
                            </tr>
                            <tr>
                                <td style="border-top: none;">Total</td>
                                <td style="border-top: none;"></td>
                                <td style="border-top: none;"></td>
                            </tr>
                            <tr>
                                <td style="border-top: none;">Amt this cheque</td>
                                <td style="border-top: none;">Amount</td>
                                <td style="border-top: none;"></td>
                            <tr>
                                <td style="border-top: none;">Balance C/F</td>
                                <td style="border-top: none;"></td>
                                <td style="border-top: none;"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>
        <div class="col-9"  style="margin: 0px; padding: 0px; width: 7.5in;">
            <div class="row" style="background-color: coral;" style="margin: 0px; padding: 0px;">
                <div class="col-8" style="padding-left: 3rem;background-color: yellow; ">
                    <div class="row" style="margin: 0px; padding: 0px; ">
                        <!--Hidden-->
                        <img src="../../../assets/dbbl_logo.png"
                            style="height: 2.4rem; width: 3.7rem; padding-top: .5rem;">
                        <div style="padding-left: .5rem; padding-top: .5rem;">
                            <h3>Dutch-Bangla Bank Limited</h3>
                            Payable at any Branch
                        </div>
                    </div>

                    <!-- <div class="row offset-2" style="display: block;">
                                Payable at any Branch
                            </div> -->
                </div>
                <div class="col-4 " style="margin: 0px; padding: 0px; background-color: green;">
                    <table class="table" style="background-color: red; margin-bottom: 0px;">
                        <tbody>
                            <tr>
                                <span style="visibility: hidden;">Date</span>
                                <!--Hidden-->
                                <td scope="row" style="border: none">1</td>
                                <td scope="row" style="border: none">2</td>
                                <td scope="row" style="border: none">0</td>
                                <td scope="row" style="border: none">9</td>
                                <td scope="row" style="border: none">2</td>
                                <td scope="row" style="border: none">0</td>
                                <td scope="row" style="border: none">2</td>
                                <td scope="row" style="border: none">1</td>
                            </tr>
                            <tr style="visibility: hidden;">
                                <!--Hidden-->
                                <td style="border-top: none; "></td>
                                <td scope="row" style="border: none">D</td>
                                <td scope="row" style="border: none">D</td>
                                <td scope="row" style="border: none">M</td>
                                <td scope="row" style="border: none">M</td>
                                <td scope="row" style="border: none">Y</td>
                                <td scope="row" style="border: none">Y</td>
                                <td scope="row" style="border: none">Y</td>
                                <td scope="row" style="border: none">Y</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

            <div class="row" style="margin: 0px; padding: 0px;">
                <table class="table">
                    <td style="border-top: none; padding-bottom: 0px;white-space: nowrap;">Pay To
                    </td>
                    <td class="col-12" style="border-bottom: 1px solid black; border-top: none;">Money Come Money Go
                    </td>
                </table>
                <div class="col-12">
                    <div class="row" style="background-color: yellow;">
                        <div class="col-9" style="background-color: darkgreen;">
                            <table class="table" style="background-color: ghostwhite;">
                                <tr style="background-color: red;">
                                <!-- <td style="border-top: none; padding-bottom: 0px; white-space: nowrap;">
                                    The Sum of Taka</td> -->
                               
                                    <td class="col-9" style="border-bottom: 1px solid black; border-top: none; background-color: deepskyblue; text-indent: 8rem;"> twelve thousand taka only hsdfa sljdnaj svjanvon aodadnv nva ns vns odfs oidjfo isjoisj oisoiv oi asjf ois aoisd osaov nsov nsodv</td>
                                </tr>
                                <!-- <tr>
                                    <td style="border-bottom: 1px solid black; border-top: none;">
                                        MOney Come
                                    </td>
                                </tr> -->
                            </table>
                        </div>
                        <div class="col-3">
                            <h4 style="white-space: nowrap;">Tk: 12000tk</h4>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

