<p style="color: green;">department works!</p>
<form>
    <div class="form-group" style="text-align: center; margin: 0px 530px; background-color: rgb(243, 239, 239);">
        <label style="font-size: 24px;">Enter Department ID  </label><br>
        <input name="hi" [(ngModel)]="createDId" type="number" class="form-control" id="exampleFormControlInput1" placeholder="Enter DepartID" value="1001" style="font-size: 20px; border-radius: 5px 10px; margin:0px 15px 0px 0px; padding: 0px 0px 0px 15px;"><br><br>
        <label style="font-size: 24px;">Enter Department Name  </label><br>
        <input name="hello" [(ngModel)]="createDName" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter DepartName" style="font-size: 20px; border-radius: 5px 10px;">
        <br><br>
        <button type ="button"  (click)="createButtonClickKorlam()" type="button" class="btn btn-primary" style="background-color:lightgrey; border-radius: 5px 5px;">Submit</button>
    </div>
</form>

<a href="url2">ggg</a>