<nav class="navbar navbar-expand-lg navbar-light bg-light col-5 offset-4">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="url3">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="url1">Create Department</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="url2">Department List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="url4">Details Create</a>
        </li>
    </ul>
   
  </div>
</nav>

<br>
<table class="table col-6 offset-5">
  <tr>
    <h5 style="color: white;background-color: black; width: min-content; ">Details_List</h5>
  </tr>
  <tr><input [(ngModel)]="searchName" type="text" placeholder="Search Here" (keyup)="searchDetails()"></tr>
</table>

<table class="table col-6 offset-3">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Department Name</th>
      <th scope="col" colspan="2">Action</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let abc of allCDetails">

      <th scope="row">{{abc.id}}</th>
      <td> <input [(ngModel)]="abc.name" name="gg" type="text" class="form-control" id="exampleFormControlInput1"
          placeholder="Enter Your Name"></td>
      <!-- <td>{{abc.name}}</td> -->

      <!-- <td>{{abc.dName}}</td> -->
      <td>
        <select [(ngModel)]="abc.dName" class="form-control" id="exampleFormControlSelect1" name="aar" required>
          <option value="undefined" disabled>Select koro </option>
          <option *ngFor="let input1 of allDepts" value="{{input1.dName}}">{{input1.dName}} </option>
        </select>
      </td>


      <td> <button class="btn btn-sn btn-warning" (click)="updateDetails(abc)">Update</button> </td>
      <td><button class="btn btn-sn btn-danger" (click)="deleteDetails(abc.id)">Delete</button></td>


    </tr>
  </tbody>
</table>