<div style="background-color: lightgrey;">
  <form>
    <div class="form-group">
      <label for="exampleFormControlInput1">ID</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter ID">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Name</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter Your Name">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Department Name</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
  </form>
</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Department Name</th>
        <th scope="col" colspan="2">Action</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let abc of allDetails" >
        <th scope="row">{{abc.id}}</th>
        <td>{{abc.name}}</td>
        <td>{{abc.dName}}</td>
        <td> <button class="btn btn-sn btn-warning">Update</button> </td>
        <td><button class="btn btn-sn btn-danger">Delete</button></td>
      </tr>
    </tbody>
  </table>

