<p>depart-list works!</p>
<input type="text">
<a href="url1">ggg</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th colspan="2" scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let a of createDept">
      <th scope="row">{{a.dId}}</th>
      <td>
        <input [(ngModel)]="a.dName" name="hellok" type="text" class="form-control" id="exampleInputPassword21"
          value={{a.dName}}>
      </td>
      <td><button class="btn btn-sm btn-warning" (click)="updateButtonClickKorlam(a)">Edit</button></td>
      <td><button class="btn btn-sm btn-danger" (click)="deleteButtonClickKorlam(a.dId)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>